################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/csharp/study/study/구현_1722_순열의순서(미해결).cs
/csharp/study/study/구현_20057_마법사상어와토네이도(미해결).cs
